
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}


/* Common style */
.bg-1 {
    background-color: rgba(26, 11, 46, 1);
}

/* Podcast Cards */
.h1-green {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: #22c55e;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}


.para-text{
    color: #ffffff;
}


 /* card-common  */
.card-common {
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}


/* Feature-Section */

.common-cardd {
  border-radius: 1.5rem;
  overflow: hidden;
  background: rgba(37, 13, 68, 1);
}

.feature-cardd-container{
  padding: 24px;
}
.card-textt {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 16px 0;
}
.card-textt-2 {
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 12px;
}

.time {
  color: #22c55e;
  display: flex;
  align-items: center;
  gap: 8px;
}

.linear {
    background: linear-gradient(to top, rgb(255, 94, 1), rgb(252, 17, 189)), rgba(145, 0, 248, 1);
      background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* navbar  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.25rem;   
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #292524; 
}



.lg {
  cursor: pointer;
  transition: transform 0.5s ease-in-out; 
}

.lg:hover {
  transform: scale(1.05);
}

.logo-text {
  font-size: 1.875rem; 
  line-height: 2.25rem;
  color: #ffffff;
  font-weight: 800;    
}


.navbar-menu {
  display: none;
}



.menu-item{
  display: flex;
  align-items: center;
  gap: 2rem;      
  color: #ffffff;
}

.nav-button {
  display: none;
}


.btn-nav  {
background: linear-gradient(47.64deg, rgb(27, 102, 201),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  color: #ffffff;             
  padding: 0.625rem  1rem ;         
  border-radius: 9999px;      
  cursor: pointer;
  display: inline-block;     
  text-align: center;        
  transition: all 0.2s ease; 
}
.icon-arrow {
  margin-left: 0.25rem; 
}
.large {
  display: block; 
}


/*  Banner Section  */

.banner-container {
  background-image: url('./assets/hero-bg.png') ; 
  background-position: center;   
  background-size: cover;        

  display: flex;                
  flex-direction: column;      
  justify-content: center;      
  align-items: center;        
  gap: 1.5rem;                  

  padding: 100px;           
 
}

/* Banner Image  */
.banner-image {
  background-image: url('./assets/hero-circle.png'); 
  background-repeat: no-repeat;                      
  background-position: center;                       
  background-size: cover;                            

  width: 200px;                                     
  height: 200px;                                    

  display: flex;                                    
  justify-content: center;                           
  align-items: center;                               

  position: relative;                              
}



.badge {
  color: #000000;         
  background-color: #22c55e; 
  padding: 0.5rem 1rem ;      
  border-radius: 100px;    
  position: absolute;   
  top: 0.25rem;            
  right: -1rem;              
}



.banner-micro {
  width: 50%;        
  margin-left: auto;  
  margin-right: auto;
}


.h1-t {
  padding-left: 1.25rem;  
  padding-right: 1.25rem;
  
}
.h1-bt {
  font-size: 1.875rem;      
  line-height: 2.25rem;
  color: #ffffff;       
  margin-bottom: 0.5rem;
  font-weight: 800;         
  text-align: center;    
}


                 /* banner button */

.b-button {
  display: flex;  
  align-items: center;    
  gap: 0.5rem;           
}
                      /* spotify button */
.btn-spotify {
  background: linear-gradient(47.64deg, rgb(27, 102, 201),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  color: #ffffff;         
  padding: 0.625rem 1rem; 
  border-radius: 99px;    
  cursor: pointer;            
  display: inline-block;
  text-align: center;   
  transition: all 0.2s ease-in-out; 
}

.btn-spotify:hover {
  filter: brightness(85%);  
  transform: scale(1.05);    
}
            /* green banner button */

.btn-green {
  color: #22c55e;          
  padding: 0.5rem 1rem;      
  border-radius: 9999px;     
  cursor: pointer;
  border: 1px solid #22c55e; 
  display: inline-block;
  text-align: center;
  transition: 0.2s ease-in-out;
}

         /* Podcast Section */
 .podcast-container {
  padding: 48px 20px 0 20px; 
}


.podcast-1{
  padding-bottom: 64px;
  margin-bottom: 40px;
  border-bottom: 1px solid #292524;
}



.heading-podcast {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #ffffff;
  text-align: center;
}


.podcast-text {
  color: #6b7280;
  margin-bottom: 16px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



.podcast-text2{
  color: #6b7280;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* cards */
.podcast-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-left: 20px;
  margin-bottom: 80px;
}




                   /* Why Choose Section */

  .Why-container {
    background: rgba(35, 14, 61, 1);
  padding: 20px 20px; 
}

  
     /* Why Choose Section title */
.why-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}

     /* card-container part */
.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 32px;
}

.cards {
  padding: 40px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  background: rgba(53, 17, 101, 0.4);
}


.cards-heading {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 16px 0;
}


/* card-5  */
.card-5 {
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

/* Featured Section  */
.feature-container {
  padding: 20px;
}


.feature-container-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}

.sub-contain {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
}



/* Host Section */
.host-container {
  padding: 20px;
}


.host-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}


.host-carddd {
  padding: 40px;
  border-radius: 40px;
  display: flex;
  background: rgba(53, 17, 101, 0.4);
  align-items: center;
  gap: 24px;
  flex-direction: column;
}



.host-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #ffffff;
  text-align: center;
}

.host-para {
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}



.host-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}



.icon {
  padding: 8px;
  border: 1px solid #292524;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

   /* footer-section */
.footer-image {
  background-image: url('./assets/footer-bg.png');
  background-position: center;
  background-size: cover;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.f-heading {
  font-size: 36px;
  line-height: 42px;
  font-weight: 800;
  color: #ffffff;
}



/* Footer Logo */
.footer-logo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}



.common-logo-foter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
  opacity: 0.6;
}

.copyright {
  color: #ffffff;
  opacity: 0.6;
  border-top: 1px solid #292524;
  padding: 8px;
}


         /* lg breakpoint*/
@media (min-width: 1024px) {
    .header {
    padding-left: 200px;
    padding-right: 200px;
  }
    .logo-text{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
   .navbar-menu {
    display: inline;
  }
    .h1-green {
    font-size: 48px;
    line-height: 56px;
  }
  .card-common {
    grid-column: span 2 / span 2;
  }
       .nav-button {
    display: inline;
  }
.large {
    display: none;
  }
.banner-image {
    width: 350px;                                   
    height: 350px;                                  
  }

    .badge {
    top: 1rem;             
    right: 1.5rem;           
  }  
.banner-micro {
    width: 100%;      
  }
.h1-bt {
    font-size: 2.25rem;      
    line-height: 2.5rem;
  }
.podcast-container {
    padding: 48px 200px 0 200px;
  }
    .podcast-1 {
    margin-bottom: 80px;
  }
    .heading-podcast {
    font-size: 48px;
    line-height: 56px;
  }
.podcast-text {
    width: 60%;
  }
.podcast-text2 {
    width: 80%;
  } 
.podcast-card-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 144px;
    margin-bottom: 112px;
  } 
.Why-container {
    padding: 120px 200px 120px 200px; 
  } 
  .why-title {
    font-size: 48px;
    line-height: 56px;
  }
    .card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
    .cards{
    grid-row: span 2 / span 2;
  }
.feature-container {
    padding: 120px 200px;
  } 
.feature-container-heading {
    font-size: 48px;
    line-height: 56px;
  }
.sub-contain {
    grid-template-columns: repeat(3, 1fr);
  }
.host-container {
    padding: 0 200px 120px 200px;
  } 
.host-heading {
    font-size: 48px;
    line-height: 56px;
  }
.host-carddd {
    flex-direction: row;
  }
 .host-name {
    font-size: 30px;
    line-height: 36px;
    text-align: start;
  }
.host-para {
    text-align: start;
  }
  .host-icon {
    justify-content: flex-start;
  }
.footer-container {
    gap: 32px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
.f-heading {
    font-size: 48px;
    line-height: 56px;
  }
  .footer-logo-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
