
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}


/* Common style */
.bg-1 {
    background-color: rgba(26, 11, 46, 1);
}

.linear-t {
    background: linear-gradient(to top, rgb(255, 94, 1), rgb(252, 17, 189)), rgba(145, 0, 248, 1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-1 {
    background: linear-gradient(47.64deg, rgb(27, 102, 201),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

/* Why Section */
.W-bg {
    background: rgba(35, 14, 61, 1);
}
.c-bg {
    background: rgba(53, 17, 101, 0.4);
}

/* Featured section */
.feature-bag {
    background: rgba(37, 13, 68, 1);
}