
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}


/* Common style */
.bg-1 {
    background-color: rgba(26, 11, 46, 1);
}

.linear-text {
    background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1)), rgba(145, 0, 248, 1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    background: linear-gradient(47.64deg, rgb(27, 102, 201),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}